body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(39,39,41,1) 30%, rgba(39,39,41,1) 70%, rgba(0,0,0,1) 100%);
}

nav {
    margin-bottom: 100px;
}

h1,h2, label, p, hr {
    color: #FFFFFF !important;
}   

.add-movie {
    width: 50%;
    margin: auto;
}

.categorie {
    margin-left: 50px;
}

.range {
    display: flex;
    overflow: auto;
  
    padding-left: 50px;
    padding-right: 50px;
}

.flex-scroll {
    
    padding: 30px 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

.movie {
   
    height: 380px;
    width: 268px;
    margin-right: 20px;
    cursor: pointer;
}

.movie img {
    width: 100%;
    height: 100%;
}

.movie:hover {
    -webkit-transform:scale(1.10) !important; /* Safari et Chrome */
	-moz-transform:scale(1.10); /* Firefox */
	-ms-transform:scale(1.10); /* Internet Explorer 9 */
	-o-transform:scale(1.10); /* Opera */
	transform:scale(1.10);
}

.single-movie {
    margin: auto;
    margin-bottom: 100px;
}

.informations {
    padding-left: 100px;
    padding-right: 100px;
}

.informations h2, .informations p, .informations h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.prices {
    display: flex;
    justify-content: space-around;
    padding: 200px;
}

.left, .right {
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    height: 250px;
    width: 250px;
    padding-top: 50px;
}

.iframe {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}